{% extends "templates/web.html" %}

{% block header %}
{{item.item_name}}
{% endblock %}

{% block page_content %}
<div class="row no-gutters">
    {% for doc in docs %}
    <div class="col-sm-12 col-md-5 card border ml-auto mb-4">
        <div class="card-header">
            {% if doc.release_type == "Beta" %}
            <span class="badge badge-warning">{{ doc.release_type }}</span>
            {% else %}
            <span class="badge badge-success">{{ doc.release_type }}</span>{% endif %} v{{ doc.version }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Requirements</h5>
            <p class="card-text">{{ doc.requirements }}</p>
            <h5 class="card-title">Changelog</h5>
            <p class="card-text">{{ doc.changelog }}</p>
            <a href="#" class="btn btn-primary file-button" data-version="{{doc.name}}" data-subscription="{{subscription.name}}">{{ _("Download") }}</a>
        </div>
        <div class="card-footer text-muted">
            Release Date: {{ frappe.utils.formatdate(doc.release_date, "dd-MM-yyyy") }}
        </div>
    </div>
    {% endfor %}
</div>
<p class="text-muted small">
    Lines starting with # (hash) indicate bug fixes<br>
    Lines starting with + (plus) indicate added features<br>
    Lines starting with - (dash) indicate removed features<br>
    Lines starting with ~ (tilde) indicate miscellaneous changes<br>
    All other lines are comments and/or notes
</p>

{% endblock %}